<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <service
            android:name="org.alexrust.callwhitelist.callfilter.WhiteListCallScreeningService"
            android:exported="true"
            android:permission="android.permission.BIND_SCREENING_SERVICE">
            <intent-filter>
                <action android:name="android.telecom.CallScreeningService" />
            </intent-filter>
        </service>
    </application>
</manifest>
